In [2466]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from datetime import datetime, timedelta

from plotly.offline import init_notebook_mode, iplot
import plotly
import plotly.graph_objs as go
import plotly.express as px
from io import BytesIO
import requests
import math as mth
from scipy import stats as st


import warnings
warnings.filterwarnings('ignore')
from IPython.display import display
import os

## Задача 4 Лист 4

In [2467]:
path = 'C:\\Users\\agluk\\Downloads\\'

In [2468]:
data = pd.read_excel(path + 'Задачи v1.5 - тест.xlsx', sheet_name='Sheet_4')
display(data.head())

,Рабочий массив,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Минимум,Среднее,Максимум
0,1,2,3,Кол-во дублей,NaN,Количество жителей,74475,2586919.752294,4733399
1,Город,Улица,Кол-во жителей,0,NaN,Навание улицы,Верхняя ул.,Крупской ул.,Ленина ул.
2,Копейск,Школьный пер.,4353016,0,NaN,Название города,Таганрог,Рубцовск,Сочи
3,Ноябрьск,Песчаная ул.,3775151,0,NaN,NaN,NaN,NaN,NaN
4,Севастополь,Клубная ул.,3994340,0,NaN,Сумма,Условия,NaN,NaN

In [2469]:
data = data.drop(index=[ 0 , 1])
data=data.rename(columns={'Рабочий массив' : 'Город',
                          'Unnamed: 1' : 'Улица', 
                          'Unnamed: 2': 'Кол-во жителей'})
data = data[['Город', 'Улица', 'Кол-во жителей']]

In [2470]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 2 to 110
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Город           109 non-null    object
 1   Улица           109 non-null    object
 2   Кол-во жителей  109 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB

In [2471]:
data.head()
data = data.rename(columns={'Кол-во жителей': 'Кол_жителей'})
data['Кол_жителей'] = data['Кол_жителей'].astype('int64')

In [2472]:
data_slice = data.query('Кол_жителей > 2000000 and Улица.str.contains("С")', engine='python')

In [2473]:
data_slice.head(50)

           Город            Улица  Кол_жителей
5         Сургут    Совхозная ул.      2795559
8        Коломна    Сиреневая ул.      4471404
10  Димитровград   Спортивная ул.      2273440
71          Елец   Солнечный пер.      2263690
80       Обнинск  Спортивный пер.      3393890
94     Краснодар    Северный пер.      3301647

In [2474]:
data_slice['Сумма_Лист4_Задача4'] = data_slice['Кол_жителей'].sum()

In [2475]:
data_slice.head(50)

           Город            Улица  Кол_жителей  Сумма_Лист4_Задача4
5         Сургут    Совхозная ул.      2795559             18499630
8        Коломна    Сиреневая ул.      4471404             18499630
10  Димитровград   Спортивная ул.      2273440             18499630
71          Елец   Солнечный пер.      2263690             18499630
80       Обнинск  Спортивный пер.      3393890             18499630
94     Краснодар    Северный пер.      3301647             18499630

In [2476]:
data_slice.to_excel('./Лист4_Задача4.xlsx')

## Последнее задание лист 5-6

In [2477]:
data_short = pd.read_excel(path + 'Задачи v1.5 - тест.xlsx', sheet_name='Sheet_5')
display(data_short.head(21))

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195
0,NaN,Задача №1. Приведите данную плоскую таблицу к ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,МОН. Сводные объемы медицинской помощи – план/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,№,Наименование МО,Номер \nпротокола,Тип,Ведомство,Период,Код МО,ВСЕГО,Расчетный \nПФ,Сумма\nсчета по\nтарифу,...,NaN,NaN,NaN,Сверх\nбазовой \nпрограммы \nОМС,Сверх\nбазовой \nпрограммы \nОМС - \nПренаталь...,Сверх\nбазовой \nпрограммы \nОМС - \nВМП,Сверх\nбазовой \nпрограммы \nОМС - \nВМП\nв т....,Сверх\nбазовой \nпрограммы \nОМС - \nВМП\nв т....,Сверх\nбазовой \nпрограммы \nОМС - \n Скрининг...,Сверх\nбазовой \nпрограммы \nОМС - \nПЦР тести...
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,СКОРАЯ \nМЕДИЦИНСКАЯ \nПОМОЩЬ,Неотложная\nмедицинская\nпомощь,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Эндоскопические\nисследования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BP,NaN,NaN,...,S_ENDOSCOP,S_AMBULANCE,S_AMBULANCE_NMP,S_SB,S_SB_PRENAT,S_SB_VMP,S_SB_VMP_HOSP,S_SB_VMP_DHOSP,S_SB_PCR,S_SB_PCR_COUNT
10,0,NaN,NaN,ИТОГО План,NaN,2020-04-01 00:00:00,0,23673066,3671628,21412149,...,12113917,37961504,22830242,40364531,43215156,2677807,17121273,4671612,21253383,18184706
11,0,NaN,NaN,ИТОГО Факт,NaN,2020-04-01 00:00:00,0,34235829,24922183,8218956,...,45648155,1955348,33934036,7172167,14310190,9213870,34924582,48402191,20515141,13413960
12,199,"ООО ""НАВА""",1,План,САМХОЗ,2020-04-01 00:00:00,1801,16379490,34371937,34102485,...,44821948,10693124,48318243,14101943,27648670,13690009,47396434,5160829,2091640,10002210
13,NaN,NaN,NaN,Факт,САМХОЗ,NaN,1801,12036490,13010677,35732037,...,15475169,41528261,49303434,15049571,9971192,20601225,36901435,40304882,32557312,20286715
14,NaN,NaN,NaN,Остаток,САМХОЗ,NaN,1801,48013422,38963551,3097418,...,21686864,37135729,4128366,22507754,31172693,48143575,15208834,19454339,12268972,1546630
15,NaN,NaN,NaN,"Выполнение, %",САМХОЗ,NaN,1801,27423984,28035942,13343012,...,17134353,10653490,869396,39776731,28764567,41546542,23339167,39420641,41173169,32799739
16,200,"АО ""МЕДИУС С""",1,План,САМХОЗ,2020-04-01 00:00:00,1996,26642564,10821485,45537529,...,38918764,29049650,3807747,28456184,4617685,35187748,38188863,29426608,1865106,5469408
17,NaN,NaN,NaN,Факт,САМХОЗ,NaN,1996,3772103,15892216,5322283,...,21559623,39107418,21568403,15747338,17899862,29249299,26154968,39451021,46898678,4423260
18,NaN,NaN,NaN,Остаток,САМХОЗ,NaN,1996,26621851,22584063,6398478,...,44183433,34453151,30254716,2392867,29224873,3364476,13913804,42736403,46731866,47730706
19,NaN,NaN,NaN,"Выполнение, %",САМХОЗ,NaN,1996,2653497,23502186,25979924,...,35308060,27921921,46195451,24904525,22563311,25103921,40306190,48102093,48881254,20918161
20,201,"МЕДИЦИНСКИЙ ФОНД ""МСЧ N 1 АМО ЗИЛ""",1,План,САМХОЗ,2020-04-01 00:00:00,1997,41059271,43755448,30683395,...,5962699,4541376,9961962,24605355,34834725,1042976,33604133,26737925,21759766,22799590

In [2478]:
data_short = data_short.drop(index=[ 0,1,2,3,4,5,6,7,8])

In [2479]:
data_short = data_short.rename(columns={'Unnamed: 3' : 'Plan_Fact',
                                      'Unnamed: 5' : 'Date',
                                      'Unnamed: 6' : 'ID'})

In [2480]:
data_short.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Plan_Fact,Unnamed: 4,Date,ID,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BP,NaN,NaN,...,S_ENDOSCOP,S_AMBULANCE,S_AMBULANCE_NMP,S_SB,S_SB_PRENAT,S_SB_VMP,S_SB_VMP_HOSP,S_SB_VMP_DHOSP,S_SB_PCR,S_SB_PCR_COUNT
10,0,NaN,NaN,ИТОГО План,NaN,2020-04-01 00:00:00,0,23673066,3671628,21412149,...,12113917,37961504,22830242,40364531,43215156,2677807,17121273,4671612,21253383,18184706
11,0,NaN,NaN,ИТОГО Факт,NaN,2020-04-01 00:00:00,0,34235829,24922183,8218956,...,45648155,1955348,33934036,7172167,14310190,9213870,34924582,48402191,20515141,13413960
12,199,"ООО ""НАВА""",1,План,САМХОЗ,2020-04-01 00:00:00,1801,16379490,34371937,34102485,...,44821948,10693124,48318243,14101943,27648670,13690009,47396434,5160829,2091640,10002210
13,NaN,NaN,NaN,Факт,САМХОЗ,NaN,1801,12036490,13010677,35732037,...,15475169,41528261,49303434,15049571,9971192,20601225,36901435,40304882,32557312,20286715

In [2481]:
data_short.columns = data_short.iloc[0]
data_short = data_short.drop(index=[9])

In [2482]:
data_short_list = data_short.columns.tolist()

In [2483]:
for value in data_short_list:
    for index in range(len(data_short_list)):
        if index < 10:
            data_short_list[index] = index + 1

In [2484]:
data_short_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 'Q_AMB',
 'Q_AMB_PROF',
 'Q_AMB_NMP',
 'Q_AMB_EXAM',
 'Q_AMB_COVID_01',
 'Q_AMB_COVID_02',
 'Q_AMB_COVID_03',
 'Q_AMB_COVID_04',
 'Q_AMB_COVID_05',
 'Q_AMB_ZAB',
 'Q_AMB_CT',
 'Q_AMB_CT_BODY',
 'Q_AMB_CT_BRAIN',
 'Q_AMB_CT_PROST',
 'Q_HOSP',
 'Q_HOSP_01',
 'Q_HSP_BIRTH',
 'Q_HSP_TOC',
 'Q_HSP_GYN',
 'Q_SKP_01',
 'Q_HOSP_02',
 'Q_HOSP_03',
 'Q_HOSP_04',
 'Q_HOSP_05',
 'Q_HOSP_06',
 'Q_HOSP_07',
 'Q_HOSP_08',
 'Q_HOSP_09',
 'Q_HOSP_10',
 'Q_HOSP_11',
 'Q_HOSP_12',
 'Q_HOSP_13',
 'Q_HOSP_14',
 'Q_HOSP_15',
 'Q_HOSP_16',
 'Q_HOSP_17',
 'Q_HOSP_18',
 'Q_SKP_18',
 'Q_HOSP_19',
 'Q_SKP_19',
 'Q_HOSP_21',
 'Q_HOSP_22',
 'Q_HOSP_23',
 'Q_HOSP_24',
 'Q_HOSP_25',
 'Q_HOSP_26',
 'Q_HOSP_28',
 'Q_HOSP_29',
 'Q_HOSP_30',
 'Q_SKP_30',
 'Q_HOSP_31',
 'Q_SKP_31',
 'Q_HOSP_32',
 'Q_SKP_32',
 'Q_HOSP_33',
 'Q_SKP_33',
 'Q_HOSP_34',
 'Q_SKP_34',
 'Q_HOSP_35',
 'Q_HOSP_36',
 'Q_HOSP_37',
 'Q_HOSP_38',
 'Q_SKP_38',
 'Q_HOSP_39',
 'Q_HOSP_40',
 'Q_HOSP_41',
 'Q_THERAPY',
 'Q_PEDIATRY',
 'Q_HOSP_44',
 'Q_HOSP_45',
 'Q_HOSP_VMP',
 'Q_DHOSP_ALL',
 'Q_DHOSP',
 'Q_DHOSP_ONK',
 'Q_DHOSP_CHEM',
 'Q_DHOSP_2D',
 'Q_DHOSP_3D4D',
 'Q_DHOSP_GEM',
 'Q_DHOSP_OTHER',
 'Q_HEMAT',
 'Q_HEMAT_GEN',
 'Q_HEMAT_PREN',
 'Q_IN_VITRO_FERT',
 'Q_ENDOSCOP',
 'Q_AMBULANCE',
 'Q_AMBULANCE_NMP',
 'Q_SB',
 'Q_SB_PRENAT',
 'Q_SB_VMP',
 'Q_SB_VMP_HOSP',
 'Q_SB_VMP_DHOSP',
 'Q_SB_PCR',
 'Q_SB_PCR_COUNT',
 'S_AMB',
 'S_AMB_PROF',
 'S_AMB_NMP',
 'S_AMB_EXAM',
 'S_AMB_COVID_01',
 'S_AMB_COVID_02',
 'S_AMB_COVID_03',
 'S_AMB_COVID_04',
 'S_AMB_COVID_05',
 'S_AMB_ZAB',
 'S_AMB_CT',
 'S_AMB_CT_BODY',
 'S_AMB_CT_BRAIN',
 'S_AMB_CT_PROST',
 'S_HOSP',
 'S_HOSP_01',
 'S_HSP_BIRTH',
 'S_HSP_TOC',
 'S_HSP_GYN',
 'S_SKP_01',
 'S_HOSP_02',
 'S_HOSP_03',
 'S_HOSP_04',
 'S_HOSP_05',
 'S_HOSP_06',
 'S_HOSP_07',
 'S_HOSP_08',
 'S_HOSP_09',
 'S_HOSP_10',
 'S_HOSP_11',
 'S_HOSP_12',
 'S_HOSP_13',
 'S_HOSP_14',
 'S_HOSP_15',
 'S_HOSP_16',
 'S_HOSP_17',
 'S_HOSP_18',
 'S_SKP_18',
 'S_HOSP_19',
 'S_SKP_19',
 'S_HOSP_21',
 'S_HOSP_22',
 'S_HOSP_23',
 'S_HOSP_24',
 'S_HOSP_25',
 'S_HOSP_26',
 'S_HOSP_28',
 'S_HOSP_29',
 'S_HOSP_30',
 'S_SKP_30',
 'S_HOSP_31',
 'S_SKP_31',
 'S_HOSP_32',
 'S_SKP_32',
 'S_HOSP_33',
 'S_SKP_33',
 'S_HOSP_34',
 'S_SKP_34',
 'S_HOSP_35',
 'S_HOSP_36',
 'S_HOSP_37',
 'S_HOSP_38',
 'S_SKP_38',
 'S_HOSP_39',
 'S_HOSP_40',
 'S_HOSP_41',
 'S_THERAPY',
 'S_PEDIATRY',
 'S_HOSP_44',
 'S_HOSP_45',
 'S_HOSP_VMP',
 'S_DHOSP_ALL',
 'S_DHOSP',
 'S_DHOSP_ONK',
 'S_DHOSP_CHEM',
 'S_DHOSP_2D',
 'S_DHOSP_3D4D',
 'S_DHOSP_GEM',
 'S_DHOSP_OTHER',
 'S_HEMAT',
 'S_HEMAT_GEN',
 'S_HEMAT_PREN',
 'S_IN_VITRO_FERT',
 'S_ENDOSCOP',
 'S_AMBULANCE',
 'S_AMBULANCE_NMP',
 'S_SB',
 'S_SB_PRENAT',
 'S_SB_VMP',
 'S_SB_VMP_HOSP',
 'S_SB_VMP_DHOSP',
 'S_SB_PCR',
 'S_SB_PCR_COUNT']

In [2485]:
data_short.columns = data_short_list

In [2486]:
data_short = data_short.rename(columns={4 : 'Plan_Fact',
                                        6 : 'Date',
                                        7 : 'ID'})

In [2487]:
data_short.head()

,1,2,3,Plan_Fact,5,Date,ID,8,9,10,...,S_ENDOSCOP,S_AMBULANCE,S_AMBULANCE_NMP,S_SB,S_SB_PRENAT,S_SB_VMP,S_SB_VMP_HOSP,S_SB_VMP_DHOSP,S_SB_PCR,S_SB_PCR_COUNT
10,0,NaN,NaN,ИТОГО План,NaN,2020-04-01 00:00:00,0,23673066,3671628,21412149,...,12113917,37961504,22830242,40364531,43215156,2677807,17121273,4671612,21253383,18184706
11,0,NaN,NaN,ИТОГО Факт,NaN,2020-04-01 00:00:00,0,34235829,24922183,8218956,...,45648155,1955348,33934036,7172167,14310190,9213870,34924582,48402191,20515141,13413960
12,199,"ООО ""НАВА""",1,План,САМХОЗ,2020-04-01 00:00:00,1801,16379490,34371937,34102485,...,44821948,10693124,48318243,14101943,27648670,13690009,47396434,5160829,2091640,10002210
13,NaN,NaN,NaN,Факт,САМХОЗ,NaN,1801,12036490,13010677,35732037,...,15475169,41528261,49303434,15049571,9971192,20601225,36901435,40304882,32557312,20286715
14,NaN,NaN,NaN,Остаток,САМХОЗ,NaN,1801,48013422,38963551,3097418,...,21686864,37135729,4128366,22507754,31172693,48143575,15208834,19454339,12268972,1546630

In [2488]:
data_short = data_short.query('Plan_Fact == "План" or Plan_Fact == "Факт"')
data_short = data_short.drop([1, 2, 3, 5, 8, 9, 10], axis=1)
data_short['Порядок'] = range(len(data_short))
data_short.head()

,Plan_Fact,Date,ID,Q_AMB,Q_AMB_PROF,Q_AMB_NMP,Q_AMB_EXAM,Q_AMB_COVID_01,Q_AMB_COVID_02,Q_AMB_COVID_03,...,S_AMBULANCE,S_AMBULANCE_NMP,S_SB,S_SB_PRENAT,S_SB_VMP,S_SB_VMP_HOSP,S_SB_VMP_DHOSP,S_SB_PCR,S_SB_PCR_COUNT,Порядок
12,План,2020-04-01 00:00:00,1801,20662182,13104060,1290512,24569902,38090498,6827417,44595540,...,10693124,48318243,14101943,27648670,13690009,47396434,5160829,2091640,10002210,0
13,Факт,NaN,1801,11196,31719005,47334716,15145176,27116016,16871834,4974374,...,41528261,49303434,15049571,9971192,20601225,36901435,40304882,32557312,20286715,1
16,План,2020-04-01 00:00:00,1996,26505977,37625900,14065325,39724466,44689793,43340567,28622985,...,29049650,3807747,28456184,4617685,35187748,38188863,29426608,1865106,5469408,2
17,Факт,NaN,1996,19035867,3758764,6374129,25050861,48827187,9953654,13582918,...,39107418,21568403,15747338,17899862,29249299,26154968,39451021,46898678,4423260,3
20,План,2020-04-01 00:00:00,1997,31725115,2498272,40358854,10611948,45223147,14653101,8447587,...,4541376,9961962,24605355,34834725,1042976,33604133,26737925,21759766,22799590,4

In [2489]:
data_short['Q_AMB'].count()

508

In [2490]:
data_for_merge = data_short[['Plan_Fact', 'Date', 'ID', 'Порядок']]
data_one = data_short.drop(['Plan_Fact', 'Date', 'ID', 'Порядок'], axis=1)
#data_one['Порядок'] = range(len(data_one))
data_one

,Q_AMB,Q_AMB_PROF,Q_AMB_NMP,Q_AMB_EXAM,Q_AMB_COVID_01,Q_AMB_COVID_02,Q_AMB_COVID_03,Q_AMB_COVID_04,Q_AMB_COVID_05,Q_AMB_ZAB,...,S_ENDOSCOP,S_AMBULANCE,S_AMBULANCE_NMP,S_SB,S_SB_PRENAT,S_SB_VMP,S_SB_VMP_HOSP,S_SB_VMP_DHOSP,S_SB_PCR,S_SB_PCR_COUNT
12,20662182,13104060,1290512,24569902,38090498,6827417,44595540,33729527,5887502,30108765,...,44821948,10693124,48318243,14101943,27648670,13690009,47396434,5160829,2091640,10002210
13,11196,31719005,47334716,15145176,27116016,16871834,4974374,15431768,19139543,24651349,...,15475169,41528261,49303434,15049571,9971192,20601225,36901435,40304882,32557312,20286715
16,26505977,37625900,14065325,39724466,44689793,43340567,28622985,13446507,33838612,7449284,...,38918764,29049650,3807747,28456184,4617685,35187748,38188863,29426608,1865106,5469408
17,19035867,3758764,6374129,25050861,48827187,9953654,13582918,38544125,15488508,1046347,...,21559623,39107418,21568403,15747338,17899862,29249299,26154968,39451021,46898678,4423260
20,31725115,2498272,40358854,10611948,45223147,14653101,8447587,5186078,27479762,32446245,...,5962699,4541376,9961962,24605355,34834725,1042976,33604133,26737925,21759766,22799590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,42259482,12334990,20904240,35684163,29256383,6678760,34369514,18298596,24882320,1893234,...,31421116,29957509,12714419,26220423,9747210,8907449,46579931,24977893,24912789,41596747
1020,36771029,9455254,28203726,45929870,17711764,36860100,47808040,44160387,14389843,35216978,...,4378670,17325690,22512340,9244260,39047891,39013830,42860520,4461929,47108263,46192578
1021,13266840,30575121,34897229,65058,29534105,38084364,5936393,18746883,40590683,16108477,...,16502419,5194556,8060404,39511079,34389404,3938388,17114553,8991700,48518339,6339180
1024,37892992,486341,34419549,1855155,38717646,19997242,22432256,10680803,6149393,48475925,...,36575920,23724666,6843245,8168050,49027008,1325014,41681362,13236221,17574936,6923905
1025,28061011,20775127,23049650,21850473,17949834,24021256,7073471,992387,49383954,35639310,...,17233327,24303102,49330959,32410842,18055835,28341925,30195448,23374504,6993463,38543201

In [2491]:
data_con = pd.DataFrame(columns = ['Номер', 'Год', 'Месяц', 'Profil', 'Кол-во'])

In [2492]:
#data_con['Номер'] = data_one['Порядок']

In [2493]:
a = []
b = []
c = []

In [2494]:
for i in data_one.columns:
    for j in range(len(data_short['Порядок'])):
        a.append(data_one[i].values[j])
        b.append(data_short['Порядок'].values[j])
        c.append(i)

In [2495]:
 a

[20662182,
 11196,
 26505977,
 19035867,
 31725115,
 368466,
 49225480,
 18328455,
 27313346,
 37127868,
 28601629,
 11652568,
 21416134,
 743499,
 33701807,
 42977932,
 19428986,
 44950715,
 37499649,
 32055524,
 43153662,
 11766115,
 41875035,
 49417571,
 5798167,
 6487551,
 2614098,
 41377548,
 36976761,
 22694126,
 4409223,
 5030182,
 7709950,
 17246190,
 35859043,
 13251450,
 5424493,
 35285345,
 14468437,
 39698580,
 8953398,
 35234443,
 11648541,
 33810046,
 13535923,
 13797584,
 27716738,
 45805577,
 5817574,
 30960122,
 16896659,
 1686146,
 38850111,
 34988657,
 12318188,
 28233984,
 7091540,
 37431041,
 1017457,
 28012565,
 21406120,
 38116375,
 48936850,
 4366615,
 34064359,
 155010,
 25924999,
 36422113,
 13743013,
 24938551,
 30736786,
 4086282,
 20525092,
 27139846,
 16033345,
 13047603,
 30899853,
 9712997,
 13382059,
 19775799,
 12762803,
 38893357,
 8256560,
 6521847,
 415700,
 19197526,
 15036732,
 6317976,
 19566554,
 18423357,
 2008706,
 27977660,
 12329620,
 42649952,
 16364866,
 31095627,
 12225407,
 11237660,
 9203845,
 1047852,
 19180673,
 31828085,
 10530525,
 23991564,
 24528426,
 25344077,
 4256039,
 11865237,
 36007923,
 989738,
 3197771,
 27388600,
 2764672,
 31250420,
 24079353,
 9062627,
 40350432,
 26892725,
 12530666,
 46169547,
 5723208,
 11964503,
 18087846,
 3772834,
 22247261,
 48794857,
 19193274,
 47717217,
 4693096,
 12994137,
 48195583,
 19628671,
 34237474,
 18453947,
 16349655,
 11914423,
 33463401,
 42347136,
 38816625,
 42762950,
 41360134,
 127807,
 9663874,
 31143978,
 38323182,
 20531312,
 26865035,
 21808484,
 21154302,
 20574251,
 17299992,
 10288694,
 28061503,
 30554476,
 11754876,
 17898086,
 13659042,
 19051090,
 19922072,
 16731384,
 23967427,
 17924443,
 5400210,
 4664567,
 21413416,
 47316137,
 10694176,
 30354861,
 9830016,
 40649024,
 32215101,
 18240741,
 9456485,
 19627204,
 45280368,
 43541935,
 31938332,
 19236031,
 29113609,
 7259419,
 5327314,
 12742105,
 41844708,
 11175421,
 49081439,
 36693278,
 45509798,
 32853416,
 49064965,
 15918651,
 31051260,
 638130,
 32548398,
 38528577,
 43317730,
 18655541,
 43208498,
 30914655,
 6064087,
 41812876,
 16128272,
 32749739,
 46951467,
 798609,
 2796977,
 21987930,
 22547251,
 27082470,
 46110124,
 39864579,
 43325073,
 27915433,
 5369466,
 15896287,
 48664815,
 11329725,
 31283015,
 42880908,
 31852609,
 11138823,
 40965027,
 1897540,
 15080839,
 11937454,
 42936010,
 37306538,
 24448138,
 24101594,
 12122720,
 31749502,
 14959389,
 8788469,
 14858168,
 31149283,
 45525724,
 2936556,
 33881611,
 19709983,
 3964525,
 44265584,
 43338555,
 44916955,
 31999427,
 46276525,
 33780760,
 42536798,
 260311,
 23251608,
 37166232,
 11617365,
 33283311,
 15254310,
 1859229,
 39487759,
 34510809,
 13129356,
 17630261,
 26758328,
 11291438,
 33502725,
 40656084,
 12320676,
 49880082,
 43781642,
 18519705,
 48347655,
 40437872,
 37154582,
 15210384,
 25293365,
 2032190,
 7591274,
 36123628,
 46893159,
 7636672,
 24842694,
 3061193,
 5163636,
 9131199,
 9441068,
 29231089,
 5402651,
 12301904,
 7699874,
 44247574,
 41189304,
 1841169,
 16713837,
 19131154,
 19383946,
 16347629,
 9358933,
 41308588,
 35128179,
 23326164,
 9292391,
 39612884,
 46844855,
 44187910,
 15952685,
 9283298,
 1238074,
 29250246,
 29559544,
 36965341,
 8293190,
 32736808,
 26113942,
 25710768,
 16276803,
 37777478,
 32398108,
 19977587,
 36736766,
 31408388,
 975516,
 30630058,
 19502178,
 29571921,
 35190895,
 9938687,
 27683392,
 2116709,
 14170220,
 26580232,
 12672010,
 47797639,
 17820719,
 40637702,
 39140883,
 19275838,
 1830866,
 28600353,
 10044113,
 48118693,
 22670391,
 8363694,
 41617051,
 19799834,
 12590268,
 14229482,
 38376299,
 48699147,
 4622724,
 21905726,
 18119708,
 3102761,
 7581237,
 23506683,
 36926380,
 30203062,
 31060532,
 2552861,
 14156666,
 31098682,
 10436585,
 8971017,
 7452169,
 35794503,
 31866625,
 34094161,
 37735740,
 28201658,
 7289126,
 35661549,
 14211479,
 21137530,
 49423817,
 12818688,
 9364739,
 31325752,
 46771673,
 31117338,
 33962122,
 4396206,
 38614920,
 47515506,
 12051478,
 39885027,
 40017036,
 35377449,
 5961910,
 16234594,
 16822746,
 9473675,
 41303769,
 15793544,
 10658028,
 980943,
 31968656,
 49816758,
 13930109,
 32482261,
 5129423,
 33465368,
 44827465,
 42966885,
 26240173,
 10806757,
 22319820,
 12830323,
 24036255,
 29814559,
 41158155,
 38874334,
 15534273,
 17368656,
 46874693,
 9306925,
 31032077,
 4255181,
 10782912,
 28742355,
 39108768,
 166517,
 4977539,
 43201131,
 21624699,
 18701297,
 27334550,
 15110010,
 48721472,
 2364403,
 26511171,
 48302001,
 3821936,
 47566969,
 26945880,
 13016361,
 8630195,
 29626376,
 3858402,
 20898598,
 48131600,
 27766258,
 8249715,
 470,
 45592753,
 116497,
 41902045,
 19779986,
 37561503,
 8713227,
 32378867,
 16101402,
 48866955,
 44498831,
 8024910,
 16235226,
 17619458,
 2321940,
 22966149,
 13858217,
 20210615,
 5937439,
 32109812,
 44053382,
 46313277,
 33006460,
 16144374,
 8309978,
 23881546,
 40096385,
 6539562,
 49523515,
 44150773,
 37680847,
 10546353,
 26995748,
 36637560,
 15139729,
 36196974,
 41434688,
 44139758,
 15759164,
 17304900,
 9954589,
 47736469,
 11731535,
 38464859,
 41075963,
 41788045,
 29155475,
 10052827,
 9725564,
 8936086,
 23035866,
 43226031,
 32236403,
 45103446,
 2283841,
 24922946,
 41347736,
 34494224,
 4716783,
 42863301,
 11205071,
 24593773,
 22058326,
 10548070,
 32360166,
 1168695,
 24938351,
 42259482,
 36771029,
 13266840,
 37892992,
 28061011,
 13104060,
 31719005,
 37625900,
 3758764,
 2498272,
 7820046,
 34628526,
 24069476,
 4722836,
 12995946,
 40567461,
 13066864,
 2809980,
 884401,
 23240557,
 13841748,
 5573180,
 35279358,
 38726917,
 42141199,
 22607163,
 15131008,
 6386891,
 11368537,
 39287904,
 49545801,
 33862081,
 7583332,
 41772631,
 32786429,
 42075339,
 14501405,
 41999820,
 19271839,
 40230766,
 38494826,
 2689197,
 48577226,
 813713,
 33591914,
 12341740,
 20434034,
 34590784,
 26477242,
 10239675,
 19729960,
 15609827,
 41491628,
 11446479,
 41508949,
 6199947,
 25632143,
 31806877,
 15971196,
 31971494,
 23552108,
 12946847,
 33473146,
 6816068,
 2561092,
 47273615,
 19527495,
 7906523,
 27624917,
 2975657,
 9803188,
 696960,
 36365652,
 49022702,
 25125420,
 13922730,
 14061618,
 30165723,
 46475637,
 14600435,
 18647385,
 41936949,
 39991534,
 33027926,
 5713772,
 5649855,
 31967056,
 37784305,
 3507852,
 43399170,
 33852399,
 10729924,
 37932945,
 3060868,
 17254007,
 22006383,
 7548618,
 33292177,
 38934577,
 5036535,
 8570695,
 8531573,
 15813052,
 31524482,
 9871244,
 3998783,
 49964631,
 36455575,
 27978587,
 20694783,
 3620755,
 43096415,
 2077293,
 10401800,
 24169123,
 37994853,
 19008183,
 683310,
 19153678,
 45979992,
 38268328,
 19884041,
 31274617,
 5162182,
 17011046,
 22129968,
 13388383,
 41933027,
 35045910,
 12328318,
 3507673,
 45965377,
 19838738,
 21167567,
 49801434,
 45213333,
 21511602,
 30117443,
 35594857,
 30912247,
 37842822,
 46428922,
 4369390,
 32578722,
 39266968,
 28134230,
 34762728,
 43010608,
 43874860,
 9046843,
 15568816,
 43287006,
 42413569,
 23761490,
 20737851,
 27768269,
 23286414,
 32654146,
 34376276,
 29095998,
 47552968,
 46882037,
 25746787,
 43193046,
 23929048,
 3383639,
 24268329,
 4263511,
 33786726,
 39878682,
 44516099,
 9792748,
 6154322,
 19868138,
 11221540,
 45547358,
 42716408,
 7634237,
 34272349,
 10575190,
 42813802,
 43240455,
 33712471,
 42205349,
 28443575,
 17531517,
 14742100,
 41048184,
 19259047,
 47133401,
 42717684,
 45995298,
 7569790,
 49453334,
 18151915,
 9219542,
 33341623,
 17679790,
 1713740,
 21175018,
 9196615,
 45782498,
 39228356,
 35597077,
 45413089,
 3512433,
 36677206,
 44502321,
 24925613,
 11401823,
 35197985,
 3188601,
 28325009,
 15764144,
 36084640,
 5235019,
 8858347,
 13694122,
 25787365,
 7501927,
 17428946,
 28067735,
 912606,
 5130925,
 27596378,
 32542208,
 43223060,
 6544867,
 10576462,
 26556018,
 44637669,
 8447852,
 10241270,
 10328892,
 32231629,
 20825234,
 18119120,
 9861806,
 43236387,
 41943613,
 48394585,
 1936987,
 39637,
 33350840,
 12908482,
 39117912,
 35185325,
 44876019,
 46157885,
 24749306,
 16373646,
 39629498,
 30296111,
 37957147,
 21461046,
 19002882,
 20132732,
 8648660,
 13460219,
 47669021,
 18133569,
 42512325,
 15540111,
 28582016,
 49420691,
 46017865,
 36025918,
 27977219,
 36772418,
 1416257,
 43399084,
 371232,
 25623322,
 41739729,
 41297305,
 13561907,
 9064221,
 25801757,
 43514526,
 23628345,
 2842187,
 13197067,
 49000943,
 49930898,
 20360541,
 39301637,
 16863000,
 111165,
 47678853,
 40272692,
 41363395,
 45092002,
 18512940,
 28048709,
 26921070,
 44077507,
 39234877,
 15349415,
 13111222,
 19553032,
 13872981,
 40675786,
 49665297,
 32285181,
 19111824,
 43310050,
 21470988,
 6321802,
 29292226,
 38315681,
 23572242,
 3992000,
 41411257,
 41537407,
 36169255,
 906124,
 122237,
 44601205,
 49618471,
 10955777,
 22734737,
 39914301,
 39432586,
 11313811,
 24214578,
 45665172,
 41280544,
 17434326,
 42183829,
 30823544,
 25987542,
 8052674,
 11920809,
 40140394,
 24535024,
 185456,
 41360092,
 19147947,
 3060686,
 24130526,
 36092496,
 39159683,
 37858475,
 48466984,
 24365091,
 22270325,
 40378583,
 5055180,
 32081199,
 16355851,
 32227457,
 14036718,
 7800388,
 20073488,
 20167792,
 8834448,
 47738481,
 7861712,
 21118534,
 11152473,
 20767546,
 4940250,
 37154877,
 5976143,
 43415904,
 12310078,
 30508268,
 16572061,
 4868126,
 31753424,
 48566401,
 29488078,
 41965032,
 40833763,
 48873222,
 19553295,
 14203691,
 17895821,
 24128926,
 24878064,
 28737426,
 17065576,
 27189958,
 21853986,
 15375805,
 43250254,
 46069014,
 153914,
 1584649,
 27138332,
 28935039,
 37731949,
 37486029,
 199535,
 9113228,
 25823441,
 20858264,
 19684842,
 30085027,
 43944994,
 22135925,
 43626479,
 20488131,
 34894458,
 9409833,
 5837920,
 19116485,
 29750934,
 23427057,
 40913895,
 49920285,
 22874775,
 2590918,
 9230378,
 47005976,
 46907583,
 7960987,
 21944597,
 29636252,
 47772208,
 48253084,
 15995028,
 27230060,
 9672752,
 4839277,
 29101399,
 4362595,
 30094567,
 6747889,
 24764684,
 35765302,
 44804255,
 5663490,
 17267111,
 31325877,
 2849665,
 926899,
 46672157,
 11088264,
 41559902,
 14535188,
 3824547,
 30252659,
 11545315,
 16141677,
 5350259,
 4175508,
 1697507,
 48055935,
 18656519,
 33369506,
 14189330,
 243783,
 36931804,
 28503597,
 39474884,
 35327292,
 4145839,
 35402978,
 31289521,
 13584780,
 40049604,
 10049092,
 31649843,
 17950821,
 15175322,
 43579638,
 45853702,
 29016233,
 25836471,
 37288559,
 17480197,
 28085,
 19127777,
 27626050,
 3389683,
 31889701,
 17925218,
 11198556,
 48723761,
 48160649,
 45886019,
 19768774,
 11905279,
 20056748,
 2448657,
 45255649,
 39638344,
 41450072,
 37832859,
 14734375,
 41908303,
 3868937,
 28039602,
 15436399,
 16981760,
 21497917,
 ...]

In [2496]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 ...]

In [2497]:
data_con['Кол-во'] = a

In [2498]:
data_con['Номер'] = b

In [2499]:
data_con['Profil'] = c

In [2500]:
data_con

       Номер  Год Месяц          Profil    Кол-во
0          0  NaN   NaN           Q_AMB  20662182
1          1  NaN   NaN           Q_AMB     11196
2          2  NaN   NaN           Q_AMB  26505977
3          3  NaN   NaN           Q_AMB  19035867
4          4  NaN   NaN           Q_AMB  31725115
...      ...  ...   ...             ...       ...
94483    503  NaN   NaN  S_SB_PCR_COUNT  41596747
94484    504  NaN   NaN  S_SB_PCR_COUNT  46192578
94485    505  NaN   NaN  S_SB_PCR_COUNT   6339180
94486    506  NaN   NaN  S_SB_PCR_COUNT   6923905
94487    507  NaN   NaN  S_SB_PCR_COUNT  38543201

[94488 rows x 5 columns]

In [2501]:
merged = data_con.merge(data_for_merge[['Plan_Fact', 'ID', 'Порядок']], left_on=['Номер'], right_on=['Порядок'], how='right')

In [2502]:
merged['Год'] = merged['Год'].fillna('2020')
merged['Месяц'] = merged['Месяц'].fillna('Апрель')

In [2503]:
merged

       Номер   Год   Месяц          Profil    Кол-во Plan_Fact    ID  Порядок
0          0  2020  Апрель           Q_AMB  20662182      План  1801        0
1          0  2020  Апрель      Q_AMB_PROF  13104060      План  1801        0
2          0  2020  Апрель       Q_AMB_NMP   1290512      План  1801        0
3          0  2020  Апрель      Q_AMB_EXAM  24569902      План  1801        0
4          0  2020  Апрель  Q_AMB_COVID_01  38090498      План  1801        0
...      ...   ...     ...             ...       ...       ...   ...      ...
94483    507  2020  Апрель        S_SB_VMP  28341925      Факт  5433      507
94484    507  2020  Апрель   S_SB_VMP_HOSP  30195448      Факт  5433      507
94485    507  2020  Апрель  S_SB_VMP_DHOSP  23374504      Факт  5433      507
94486    507  2020  Апрель        S_SB_PCR   6993463      Факт  5433      507
94487    507  2020  Апрель  S_SB_PCR_COUNT  38543201      Факт  5433      507

[94488 rows x 8 columns]

In [2504]:
merged = merged.drop(['Номер', 'Порядок'], axis=1)

In [2505]:
merged = merged[['Год', 'Месяц', 'Plan_Fact', 'ID', 'Profil', 'Кол-во']]

In [2506]:
merged.to_excel('./Excel_Result.xlsx')